body {
	height: 100%;
	background-color: #666666;
	color: white;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.banner {
	background-color: #666666;
}

.banner a {
	display: block;
	color: white;
	background-color: #666666;
	text-decoration: none;
	text-align: center;
	font-size: 80%;
	padding: 4px;
}

.banner a:hover {
	background-color: #999999;
}

.banner a:active {
	background-color: #333333;
}

.main {
	width: 70%;
	height: 100%;
	background-color: #ffffcc;
	color: black;
	padding: 8px;
	margin-bottom: 40px;
	vertical-align: top;
}

.main p {
	font-size: 100%;
	padding: 0px;
}

.main p + p {
	text-indent: 2em;
}

.sidebar {
	width: 30%;
	height: 100%;
	background-color: #ccccff;
	color: black;
	vertical-align: top;
	padding: 4px 0px 0px 0px;
}

.sidebar ul li.caption {
	font-weight: bold;
	list-style: none;
}

.center-container {
	margin-bottom: 40px;
}

.footer {
	background-color: #666666;
	padding: 4px;
	position: fixed;
	bottom: 0px;
	height: 36px;
	width: 100%;
}